altair==4.2.0
appdirs==1.4.4
appnope @ file:///home/conda/feedstock_root/build_artifacts/appnope_1649077682618/work
argon2-cffi @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi_1640817743617/work
argon2-cffi-bindings @ file:///Users/runner/miniforge3/conda-bld/argon2-cffi-bindings_1649500375223/work
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1660605382950/work
async-generator==1.10
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1659291887007/work
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1649463573192/work
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1656355450470/work
blinker==1.5
blis @ file:///Users/runner/miniforge3/conda-bld/cython-blis_1656314852579/work
Bottleneck @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_29949159-f86f-474b-bc1f-aaa1e0e222b4ofusifik/croots/recipe/bottleneck_1657175564045/work
branca @ file:///home/conda/feedstock_root/build_artifacts/branca_1650311966802/work
brotlipy==0.7.0
cachetools==5.2.0
carto==1.11.3
cartoframes==1.2.4
catalogue @ file:///Users/runner/miniforge3/conda-bld/catalogue_1666891909163/work
certifi==2022.9.24
cffi @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_62rp5d8fd4/croots/recipe/cffi_1659598655556/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click @ file:///Users/runner/miniforge3/conda-bld/click_1651215451259/work
click-plugins==1.1.1
cligj @ file:///home/conda/feedstock_root/build_artifacts/cligj_1633637764473/work
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1632508026186/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
commonmark==0.9.1
confection @ file:///Users/runner/miniforge3/conda-bld/confection_1667038790250/work
ConfigArgParse @ file:///home/conda/feedstock_root/build_artifacts/configargparse_1633358864834/work
cryptography @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_b470f7cb-c8f1-42c9-b84f-23789ea77e7c9difcqh4/croots/recipe/cryptography_1652101134392/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
cymem @ file:///Users/runner/miniforge3/conda-bld/cymem_1666909806949/work
cytoolz==0.11.0
dask @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_625ab4ad-a7aa-46be-859b-eb7a32fc37bc46adm9wx/croots/recipe/dask-core_1658513219136/work
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958434797/work
debugpy @ file:///Users/runner/miniforge3/conda-bld/debugpy_1660619043328/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1643888246732/work
es-core-news-sm @ file:///home/conda/feedstock_root/build_artifacts/spacy-models_1657658531454/work/es_core_news_sm
et-xmlfile==1.1.0
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1668523704481/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1665301981797/work
fastjsonschema @ file:///home/conda/feedstock_root/build_artifacts/python-fastjsonschema_1663619548554/work/dist
filelock @ file:///opt/conda/conda-bld/filelock_1647002191454/work
Fiona @ file:///Users/runner/miniforge3/conda-bld/fiona_1644294198451/work
Flask @ file:///opt/conda/conda-bld/flask_1648041541647/work
flit_core @ file:///home/conda/feedstock_root/build_artifacts/flit-core_1645629044586/work/source/flit_core
folium @ file:///home/conda/feedstock_root/build_artifacts/folium_1665185302619/work
fonttools @ file:///Users/runner/miniforge3/conda-bld/fonttools_1664574481699/work
fsspec @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_a6evhlwhh2/croots/recipe/fsspec_1659972205208/work
future @ file:///Users/builder/ci_310/future_1642502263251/work
GDAL==3.4.1
geopandas @ file:///home/conda/feedstock_root/build_artifacts/geopandas_1666612185720/work
gitdb==4.0.10
GitPython==3.1.29
googletrans==2.4.0
greenlet @ file:///Users/builder/ci_310/greenlet_1642504419787/work
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1664132893548/work
huggingface-hub @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_1drvqttx4f/croot/huggingface_hub_1667490250276/work
idna @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_00jf0h4zbt/croot/idna_1666125573348/work
imagecodecs @ file:///Users/runner/miniforge3/conda-bld/imagecodecs_1637750758676/work
imageio @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_5460df32-49d6-4565-9afb-ddc7de276101dvh8sph9/croots/recipe/imageio_1658785049436/work
importlib-metadata @ file:///Users/runner/miniforge3/conda-bld/importlib-metadata_1653252891204/work
importlib-resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1665204935269/work
ipykernel @ file:///Users/runner/miniforge3/conda-bld/ipykernel_1664214831245/work
ipython @ file:///Users/runner/miniforge3/conda-bld/ipython_1662481590184/work
ipython-genutils==0.2.0
itsdangerous @ file:///tmp/build/80754af9/itsdangerous_1621432558163/work
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1659959867326/work
Jinja2==2.11.3
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1663332044897/work
JPype1 @ file:///Users/runner/miniforge3/conda-bld/jpype1_1667039182333/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema-meta_1662736858348/work
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1661522530937/work
jupyter_core @ file:///Users/runner/miniforge3/conda-bld/jupyter_core_1658332490798/work
jupyterlab-pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1649936611996/work
kaleido @ file:///home/conda/feedstock_root/build_artifacts/python-kaleido_1615204619408/work
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1657953145767/work
langcodes @ file:///home/conda/feedstock_root/build_artifacts/langcodes_1636741340529/work
langdetect @ file:///home/conda/feedstock_root/build_artifacts/langdetect_1622407545956/work
locket @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_81b4c56b-0395-495d-81c1-83208d36944d357hqdd0/croots/recipe/locket_1652903116052/work
lxml @ file:///Users/runner/miniforge3/conda-bld/lxml_1649637441084/work
mapclassify @ file:///home/conda/feedstock_root/build_artifacts/mapclassify_1627363180059/work
Markdown @ file:///Users/builder/ci_310/markdown_1642534091530/work
MarkupSafe @ file:///Users/builder/ci_310/markupsafe_1642534112998/work
matplotlib @ file:///Users/runner/miniforge3/conda-bld/matplotlib-suite_1659031581294/work
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1660814786464/work
mistune @ file:///home/conda/feedstock_root/build_artifacts/mistune_1657892024508/work
mkl-fft==1.3.1
mkl-random @ file:///opt/concourse/worker/volumes/live/a9eca864-069c-4240-73c8-4e51b036a10d/volume/mkl_random_1639994047876/work
mkl-service==2.4.0
munch==2.5.0
munkres==1.1.4
murmurhash @ file:///Users/runner/miniforge3/conda-bld/murmurhash_1666946235028/work
mysql-connector-python==8.0.31
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1665125402713/work
nbconvert @ file:///home/conda/feedstock_root/build_artifacts/nbconvert-meta_1665098304483/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1665426034066/work
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1664684991461/work
networkx @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_6afc8f17-1d67-4285-b2c6-55302f6d1d829k5owdkh/croots/recipe/networkx_1657784106447/work
nltk @ file:///opt/conda/conda-bld/nltk_1645628263994/work
notebook @ file:///home/conda/feedstock_root/build_artifacts/notebook_1654636967533/work
numexpr @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_f4cadb13-5662-4009-98e5-0105539d6a65fifix2d5/croots/recipe/numexpr_1656940304949/work
numpy @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_cer8_sm247/croots/recipe/numpy_and_numpy_base_1659432720132/work
openpyxl @ file:///tmp/build/80754af9/openpyxl_1632777717936/work
outcome @ file:///home/conda/feedstock_root/build_artifacts/outcome_1655217710638/work
packaging @ file:///tmp/build/80754af9/packaging_1637314298585/work
pandas==1.4.4
pandocfilters @ file:///home/conda/feedstock_root/build_artifacts/pandocfilters_1631603243851/work
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
partd @ file:///opt/conda/conda-bld/partd_1647245470509/work
pathy @ file:///home/conda/feedstock_root/build_artifacts/pathy_1656568808184/work
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1665356157073/work
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1602535608087/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow==9.2.0
pkgutil_resolve_name @ file:///home/conda/feedstock_root/build_artifacts/pkgutil-resolve-name_1633981968097/work
plotly @ file:///opt/conda/envs/env/conda-bld/plotly_1660225103991/work/packages/python/plotly/dist/plotly-5.10.0.tar.gz
preshed @ file:///Users/runner/miniforge3/conda-bld/preshed_1666991296677/work
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1649447152425/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1662384672173/work
protobuf==3.20.1
psutil @ file:///Users/runner/miniforge3/conda-bld/psutil_1662356196739/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
pyarrow==10.0.1
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pydantic @ file:///Users/runner/miniforge3/conda-bld/pydantic_1666755030096/work
pydeck==0.8.0
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1660666458521/work
pymongo==3.12.0
Pympler==1.0.1
pymssql==2.2.5
PyMySQL @ file:///Users/builder/ci_310/pymysql_1642547169457/work
pyodbc @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_18mhb222la/croots/recipe/pyodbc_1659513803477/work
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_3a17y2delq/croots/recipe/pyparsing_1661452538853/work
pyproj @ file:///Users/runner/miniforge3/conda-bld/pyproj_1641210489061/work
pyrestcli==0.6.11
pyrsistent @ file:///Users/runner/miniforge3/conda-bld/pyrsistent_1649013400725/work
PySocks @ file:///Users/builder/ci_310/pysocks_1642536366386/work
pyspellchecker @ file:///home/conda/feedstock_root/build_artifacts/pyspellchecker_1662632046288/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-dotenv @ file:///home/conda/feedstock_root/build_artifacts/python-dotenv_1662230030282/work
pytz @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_1caf090c-01b6-4973-adac-d2eb884a674e7zonb9eb/croots/recipe/pytz_1654762641285/work
pytz-deprecation-shim==0.1.0.post0
PyWavelets @ file:///opt/concourse/worker/volumes/live/9096bef9-52d5-4f58-5c9f-b34273f30177/volume/pywavelets_1648727890297/work
PyYAML==6.0
pyzmq @ file:///Users/runner/miniforge3/conda-bld/pyzmq_1663830557778/work
r5py @ file:///home/conda/feedstock_root/build_artifacts/r5py_1663252194630/work
regex @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_978efa21-43f5-4f43-9f25-acd8393817ddce2xcjaf/croots/recipe/regex_1658257186496/work
requests @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_516b78ce-034d-4395-b9b5-1d78c2847384qtnol99l/croots/recipe/requests_1657734628886/work
rich==12.6.0
Rtree @ file:///Users/runner/miniforge3/conda-bld/rtree_1666813351022/work
scikit-image @ file:///Users/runner/miniforge3/conda-bld/scikit-image_1660146598199/work
scikit-learn @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_45h_p7d6a0/croot/scikit-learn_1665482007320/work
scipy==1.9.1
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1662491375569/work
selenium @ file:///home/conda/feedstock_root/build_artifacts/selenium_1667565026312/work/src/py
semantic-version==2.10.0
semver==2.13.0
Send2Trash @ file:///home/conda/feedstock_root/build_artifacts/send2trash_1628511208346/work
Shapely @ file:///Users/runner/miniforge3/conda-bld/shapely_1651793269612/work
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1659638615822/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
smart-open @ file:///home/conda/feedstock_root/build_artifacts/smart_open_1630238320325/work
smmap==5.0.0
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1662051266223/work
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1621217038088/work
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1658207591808/work
spacy @ file:///Users/runner/miniforge3/conda-bld/spacy_1666335682339/work
spacy-legacy @ file:///home/conda/feedstock_root/build_artifacts/spacy-legacy_1660748275723/work
spacy-loggers @ file:///home/conda/feedstock_root/build_artifacts/spacy-loggers_1661365735520/work
SQLAlchemy @ file:///opt/concourse/worker/volumes/live/9e48bc9a-dc0d-4261-7718-45ba0dffc371/volume/sqlalchemy_1647599834881/work
sqlitedict==2.0.0
squarify==0.4.3
srsly @ file:///Users/runner/miniforge3/conda-bld/srsly_1666955515381/work
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1664126450622/work
statsmodels @ file:///Users/runner/miniforge3/conda-bld/statsmodels_1654787188085/work
streamlit==1.15.1
tenacity @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_15d3bbab-3059-4048-adcb-986fb2669dd5nujdx5qd/croots/recipe/tenacity_1657899116644/work
terminado @ file:///Users/runner/miniforge3/conda-bld/terminado_1664482261038/work
textblob==0.15.3
thinc @ file:///Users/runner/miniforge3/conda-bld/thinc_1666253697869/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1643647933166/work
tifffile @ file:///tmp/build/80754af9/tifffile_1627275862826/work
tinycss2 @ file:///home/conda/feedstock_root/build_artifacts/tinycss2_1637612658783/work
tokenizers @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_268e8965-102b-48a5-a916-a216550453a11s7pxtzt/croots/recipe/tokenizers_1651822590419/work
toml==0.10.2
toolz @ file:///tmp/build/80754af9/toolz_1636545406491/work
torch==1.10.2
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1656938120738/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1662214488106/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1663005918942/work
transformers @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_0fwztwlw96/croot/transformers_1667921642940/work
trio @ file:///Users/runner/miniforge3/conda-bld/trio_1666780253940/work
trio-websocket @ file:///home/conda/feedstock_root/build_artifacts/trio-websocket_1641849081899/work/dist
typer @ file:///home/conda/feedstock_root/build_artifacts/typer_1657029164904/work
typing_extensions @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_ff5_5nqr6l/croots/recipe/typing_extensions_1659638832447/work
tzdata==2022.6
tzlocal==4.2
unicodedata2 @ file:///Users/runner/miniforge3/conda-bld/unicodedata2_1649111966296/work
Unidecode==1.3.6
urllib3 @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_53dwuk2xkk/croots/recipe/urllib3_1659110467968/work
validators==0.20.0
wasabi @ file:///home/conda/feedstock_root/build_artifacts/wasabi_1658931821849/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
webencodings==0.5.1
Werkzeug @ file:///opt/conda/conda-bld/werkzeug_1645628268370/work
wordcloud @ file:///Users/runner/miniforge3/conda-bld/wordcloud_1661464073713/work
wsproto @ file:///home/conda/feedstock_root/build_artifacts/wsproto_1661356345548/work
xyzservices @ file:///home/conda/feedstock_root/build_artifacts/xyzservices_1663619671984/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1665306627898/work
